<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <application android:label="@string/app_name" android:icon="@drawable/loom_logo" android:theme="@style/LoomTheme" android:allowBackup="false" android:dataExtractionRules="@xml/no_transfer" android:usesCleartextTraffic="false" android:supportsRtl="true">
    <activity android:name=".MainActivity" android:exported="true" android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:windowSoftInputMode="adjustResize">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
      <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="loom" android:host="pair"/></intent-filter>
    </activity>
  </application>
</manifest>
